.events {
  padding: 1rem;
  padding-bottom: 400px;
  margin: 0 auto;
  width: 1100px;
}

.timeline {
  position: relative;
}

.line {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 2px;
  top: -5px;
  bottom: -1110px;
  background-color: rgb(107, 228, 222);
}

.eve_img {
  margin: 20px;
  display: flex;
  align-items: center;
}

img:nth-child(odd) {
  margin-right: 20%;
}

img:nth-child(even) {
  margin-left: 43%;
}
